<h2>Dobrodosli na sajt SmartBell</h2>
<p> Smartbell je sajt koji ce vam pomoci da na lak i efikasan nacin vodite evidenciju o Vasem napredku u teretani, 
  uz veliku bazu proverenih vezbi koji mozete uredjivati sa nama , Smartbell vam garantuje da ce svaki Vas trening biti organizovan
, drugaciji i efikasan.</p>
<p>
 Besplatno koristite neke od funkcionalnosti naseg sajta, a za privilegovane funkcionalnosti stvorite nalog i postanite nas clan i deo nase zajednice.  
</p>
<h4>Smartbell tim Vam zeli srecu u upornost na Vasem putovanju ka lepsem telu.</h4>
